/* general styles */ 
* { margin: 0 !important; 
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px !important; 
}
/*<!-----------header---------->*/
header {
  text-align: center;

}

header{
  text-align: center;
  padding: auto;
}

header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  letter-spacing: 5px;
  padding: 50px 0px 20px 0px;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 116px;
  padding-bottom: 30px;
}
/*<!-----------navbar---------->*/

nav{
border: .5px solid black;
margin:  0 auto !important;
margin-bottom: 30px !important;



}




.nav-bar-ul{
  list-style-type: none;
  text-align: center;
  margin: 0 auto;

}

.nav-bar-li{
  display: inline;
  padding-bottom: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid black;
  text-align: center;
}

.nav-bar-li a{
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
}

.nav-bar-li-a-img{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.search-bar{
  border: none;
}

.search-bar input[type=text]{
  border: none;
}


/*<!-----------hero---------->*/
.hero{
  position:relative;
  margin: 0 auto !important;

}

.hero-img{
  margin: 0 auto !important;
border: 1px solid black;
border-bottom: none;
width: 940px;
height: 528.75px;
object-fit: cover;
display: block;

}

.hero-div{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
 
}

.over-div{
  border: 1px solid black;
  margin-top: -10px;
  z-index: 10;
  position: absolute;
  top: -20px;
  left: 289.5px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  
}

.img-bottom{
  margin: 0 auto !important;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 940px;
  height: 250px;
  border: 1px solid #000000;
  border-top: none;
  align-items: flex-start;
  margin-bottom: 100px;
  
}
.subtext-bottom-img{
  font-size: 12px;

}

 .img-bottom h2{
  padding-top: 10px;
  padding-left: 30px;

 }

 .img-bottom p{
  padding-left: 30px;
  padding-top: 30px; 
}

.img-bottom p a{
  text-decoration: none;
  color:black;
 }

 .img-bottom h2 a{
  text-decoration: none;
  color:black;
 }



/*<!-----------subscribe---------->*/
.subscribe-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:end;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 40px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-left: auto;
  

}


.subscribe-never{
  font-family: 'Playfair Display', serif;
}

.subscribe-email{
  border-bottom: 1px solid #000000; /* Apply bottom border */
}

#email-subs {
  width: 250px;
}

.subscribe-button {
  padding: 10px 50px !important;

  margin: 0px 0px 0px 0;
  left: 0px;
  justify-self: start;
  align-self: flex-end;
  border-bottom: 1px solid #000000; /* Apply bottom border */
   
}
.subscribe-button{
  align-self: center;
}


/*<!-----------content---------->*/

.container-main {
    display: flex;
    width: 100%; 
    border-bottom: solid thin #000000;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px !important;
}

p.titles {
  display: flex;
  letter-spacing: 7px;
  justify-content: left;
}

.container-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 65%; 
    padding: 40px;
    border-right: solid thin #000000;
}

.container-maki {
    display: flex;
    width: 450px;
    border: solid thin #000000;
}

p.pdescription::after {
  content: "...";
}

.pdescription {
  font-size: 10pt;
  padding-bottom: 30px;
}

.pdate {
  font-size: 8pt;
}

div.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px 20px;
}

div.pfooter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pfooter p:last-of-type {
  margin-left: auto !important;
}

img.maki {
  width: 200px;
  object-fit: cover;
}

#comm:hover, .intro h5:hover, .pdescription:hover, .intro a:hover, .intro a:focus{
  color: #6600ea;
  transition:0.5s;
}

a {
  text-decoration: none;
  color: black;
}




/*-----left container----------*/

.container-main-right {
  display: flex;
  flex-direction: column;
  width: 35%; 
  padding: 40px ;
}


/*-----right container----------*/


/*<!-----------contact form---------->*/
.container-arrow {
    display: block;
    display: grid;
}

img.arrow {
    display: flex;
    width: 4%;
    justify-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropline {
    text-align: center;
}

div.container-form {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(96, 94, 94)
}

#fname, #lname, #email, #message, #email-subs {
    border: none; /* Remove default border */
    padding: 5px;
}
#fname {
    width: 280px;
}

#lname {
    width: 300px;
}

#email {
    width: 100%;
}
#message {
    resize: none;
    width: 600px;
  }

div.containerf-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    
}

div.containerf-2 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

div.containerf-3 {
    display: flex;
    justify-content: center;
    margin: 100px !important;
}

.btn-submit {
    background-color: #6600ea;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

.btn-submit:hover {
    background-color: black; 
    transition:0.5s;
}

.form-containers {
    border-bottom: 1px solid #000000; /* Apply bottom border */
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-containers:hover, .subscribe-email:hover {
    border-bottom: 2px solid #6600ea; 
}

textarea:focus, input:focus {
    outline: none;
}



/*<!-----------footer---------->*/

footer{
    background-color: #e8e6e6;
    margin-top: auto;

}

div.footerp {
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    padding: 10px 0;
}


/*<!-----Responsiveness----->*/

@media only screen and (min-width: 1024px) {
  footer {
      width: 100%;
}
  div.footerp {
      width: 100%;
  }

  section.contactus {
      width: 100%;
}
}

@media only screen and (min-width: 768px) {
    footer {
        width: 100%;
}
    div.footerp {
        width: 100%;
}

    section.contactus {
        width: 100%;
    }
}

@media only screen and (min-width: 375px) {
    footer {
        width: 100%;
}
    div.footerp {
        width: 100%;
    }

    section.contactus {
        width: 100%;
}
}